.summary {
  position: sticky;
  top: 0px;
  border-left: 2px solid #007bff;
  font-size: 0.8em;
  bottom: 0;
  max-height: 75vh;
  overflow-y: auto;
}
.summary a {
  color: inherit;
  display: block;
  padding-left: 10px;
}
.summary a.current,
.summary a:hover {
  text-decoration: none;
  color: #000;
  border-left: 3px solid #007bff;
  padding-left: 7px;
}
.summary .level_0 {
  text-transform: uppercase;
  font-weight: 700;
}
.display-summary.current {
  display: block;
}
.display-summary {
  display: none;
}

.am_title {
  background-color: #fff;
  position: fixed;
  top: 47px;
  left: 0px;
  z-index: 3;
  padding-top: 5px;
  font-weight: 100;
  width: 100%;
}

h2 {
  color: #212529;
  font-weight: 100;
}

.am_title a {
  text-decoration: none;
  color: #212529;
}

.parametrization_content {
  margin-top: 80px;
}

.green {
  color: green;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html {
  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
}

.inactive,
.previous_version_alinea {
  text-decoration: line-through;
  opacity: 0.4;
}

.diff {
  font-family: SFMono-Regular, Consolas, "Liberation Mono", Menlo, Courier,
    monospace;
  font-size: 0.7em;
}

.small-dropdown .dash-dropdown,
.small-dropdown .Select,
.small-dropdown .Select-multi-value-wrapper,
.small-dropdown .Select-value,
.small-dropdown .Select-value-label,
.small-dropdown .Select--single > .Select-control .Select-value,
.small-dropdown .Select-control {
  height: 29px;
  font-size: 0.97em;
}

.small-dropdown .Select-value,
.small-dropdown .Select--single > .Select-control .Select-value,
.small-dropdown .Select-value-label {
  line-height: 28px;
}

.section-with-defined-topic {
  background-color: #007bff33;
}
.section-topics:hover {
  background-color: #5a5a5a33;
  cursor: pointer;
}

.condition-block {
  font-size: 0.8em;
  cursor: pointer;
}
.condition-block:hover {
  background-color: #b3b3b3;
}
.condition-block-selected {
  background-color: #007bff;
}

.editable-alineas:hover,
.editable-title:hover {
  cursor: text;
  background-color: #beddff;
}

.main-header .nav-link {
  color: #cccccc;
}

.main-header .nav-link:hover {
  color: white;
}

.save-zone {
  position: fixed;
  bottom: 5px;
  left: 0px;
  transform: translate(calc(50vw - 50%));
  z-index: 3;
  opacity: 0.5;
  text-align: center;
}
.save-zone:hover {
  opacity: 1;
}

.aida-output {
  position: fixed;
  top: 50px;
  right: 30px;
  z-index: 3;
}

.parameter-element {
  border: 1px solid #cccccc;
  border-radius: 3px;
  padding: 10px;
  margin-bottom: 10px;
}
.section-title {
  font-weight: 500;
}
